doc/jupyter/Demo/* linguist-vendored
doc/jupyter/Jsons/* linguist-vendored
docs/examples/* linguist-vendored
*.html linguist-detectable=false
*.css linguist-detectable=false
*.ipynb linguist-detectable=false
*.sh linguist-detectable=false
