# Configuration file for `pre-commit` tool.
# Source: https://pre-commit.com/#pre-commit-configyaml---top-level
exclude: "docs|node_modules|migrations|.git|.tox|README.md|sample_setups/(external-setups|jsons)|tests/deprecated|share/data"
default_stages: [pre-commit]
fail_fast: true

repos:
    # =======================
    # General file formatters
    # =======================
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
            args: [--markdown-linebreak-ext=md]
          - id: end-of-file-fixer
          - id: check-yaml

    # =======================
    # Python code formatters
    # =======================
    - repo: https://github.com/psf/black
      rev: 23.3.0
      hooks:
          - id: black

    - repo: https://github.com/timothycrosley/isort
      rev: 6.0.1
      hooks:
          - id: isort
            args: ["--honor-noqa", "--profile", "black"]

    # =======================
    # Python linting
    # =======================
    # - repo: https://github.com/pycqa/flake8
    #   rev: 7.0.0
    #   hooks:
    #       - id: flake8
    #         args: ["--config=setup.cfg"]
    #         additional_dependencies: [flake8-isort]
