os:
  - linux
    #  - osx
language: python
  - "2.7"

sudo: false

before_install:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then curl -o miniconda.sh https://repo.continuum.io/miniconda/Miniconda2-latest-MacOSX-x86_64.sh ; fi
  - export PATH="$HOME/miniconda/bin:$PATH"
  - if [ ! -d ${HOME}/miniconda ]; then bash miniconda.sh -b -p $HOME/miniconda ; fi
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -y -q conda

script:
  - export CDAT_ANONYMOUS_LOG="False"
  - export FFMPEG="ffmpeg"
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; export FFMPEG="'ffmpeg>4'"; fi
  - conda create -q -n py2 -c cdat/label/nightly -c conda-forge -c cdat -c pcmdi vcs vcsaddons mesalib testsrunner cia "proj4<5" "python<3" $FFMPEG
  - conda create -q -n py3 -c cdat/label/nightly -c conda-forge -c cdat -c pcmdi vcs vcsaddons mesalib testsrunner cia "proj4<5" "python>3" $FFMPEG
  # Useful for debugging any issues with conda
  - conda info -a
  - source activate py2
  - python setup.py install
  - python run_tests.py -v2
  - git clean -fd
  - source activate py3
  - python setup.py install
  - python run_tests.py -v2
  - source deactivate

#after_success:
#    - if [ "$TRAVIS_BRANCH" == "master" -a "$TRAVIS_PULL_REQUEST" == "false" ]; then conda install -n root conda-build anaconda-client && bash -x recipes/pcmdi_metrics/conda_upload.sh; fi
