os:
  - linux
    #  - osx
language: python
  - "2.7"

sudo: false

before_install:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then curl -o miniconda.sh https://repo.continuum.io/miniconda/Miniconda2-latest-MacOSX-x86_64.sh ; fi
  - export PATH="$HOME/miniconda/bin:$PATH"
  - if [ ! -d ${HOME}/miniconda ]; then bash miniconda.sh -b -p $HOME/miniconda ; fi
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -y -q conda

script:
  - conda create -q -n py2 -c uvcdat/label/nightly -c conda-forge -c uvcdat -c pcmdi vcs vcsaddons cdp mesalib image-compare flake8 nose cia
  # Useful for debugging any issues with conda
  - conda info -a
  - source activate py2
  - python setup.py install
  - source activate py2
  - python run_tests.py -v2

after_success:
  - if [ "$TRAVIS_BRANCH" == "master" -a "$TRAVIS_PULL_REQUEST" == "false" ]; then conda install "conda-build <=3.3.0" "anaconda-client <=1.6.6"  && bash -x recipes/pcmdi_metrics/conda_upload.sh; fi
