os:
  - linux
  - osx

language: c++

before_install:
    - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt-get update -qq; sudo apt-get install -y gfortran; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew update ; brew outdated cmake || brew upgrade cmake ; fi
    - cmake --version

script:
    - cd ..
    - mkdir _build
    - cd _build
    - cp ../pcmdi_metrics/install_metrics.bash .
    - bash ./install_metrics.bash
    - source ./PCMDI_METRICS/bin/setup_runtime.sh
    - python test/test_suite.py
